# 1. Python ve Sanal Ortamlar
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# 2. Jupyter Notebook
.ipynb_checkpoints/

# 3. Makine Öğrenmesi & Model Ağırlıkları (Asla Git'e Gitmemeli)
*.pt
*.pth
*.bin
*.ckpt
*.safetensors
*.h5
.huggingface/
wandb/
runs/

# 4. Veri Setleri (Klasör yapısı korunsun, içindeki devasa veriler hariç tutulsun)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Büyük dataset dosyaları (HuggingFace'den indiriliyor, repoya eklenmez)
*.parquet
data/hackaprompt-dataset/hackaprompt.parquet

# 5. Loglar ve İşletim Sistemi Kalıntıları
logs/
*.log
.DS_Store
Thumbs.db